@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

@import url('./standart.css');
body {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    margin-bottom: 600px;
}

.logo {
    height: 80px;
    width: 300px;
}

.logo_wrapper {
    height: 90px;
    width: 310px;
}



.btn {
    background-color: yellow;
    height: 50px;
    width: 300px;
    border: 0;
    font-family: 'Castoro', serif;
    font-weight: 900;
    font-size: x-large;
    border-radius: 10px;
    padding: 20px 100px;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background-color: blue;
    transition: 500ms;
}


.btn_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_text {
    color: white;
    font-family: 'Castoro', serif;
    font-size: large;
    
}